/*清除样式*/
body,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,a,p,textarea,input{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	display: block;
}
ul,li,ol,dl,dd,dt{
	list-style: none;
}

/*清除浮动*/
.clearfloat:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}



